:root {
    --ff-primary: "Inter", sans-serif;
    --ff-secondary: var(--ff-secondary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-01: 0.9375rem; /* 15px */
    --fs-02: 1.125rem;  /* 18px */
    --fs-03: 1.25rem;   /* 20px */
    --fs-04: 1.5rem;    /* 24px */

}


body {
    --p-body-bg-color: hsl(var(--clr-neutral-10));
    --p-body-text-color: hsl(var(--clr-neutral-100));

    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    background-color: var(--p-body-bg-color);
    color: var(--p-body-text-color);

    &.theme-dark {
        --p-body-bg-color: hsl(var(--clr-neutral-200));
        --p-body-text-color: hsl(var(--clr-neutral-75));
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-text-gray));
}

.h1 {
    font-size: var(--fs-04);   /* 24px */
    line-height: 1.1666;       /* 28px */
}

.h2 {
    font-size: var(--fs-03);  /* 20px */
    line-height: 1.4;         /* 28px */
}