@use '../abstracts' as *;

%btn {
    display: inline-flex;
    justify-content: center;
    border: var(--border-radius-rg);
    font-size: var(--fs-02);
    font-weight: var(--fw-medium);
    border-radius: var(--border-radius-rg);
    padding: 1rem 2rem;
    cursor: pointer;

    @media #{$break1}, #{$break2} {
        inline-size: 100%;
    }
}

.btn-primary {
    @extend %btn;

    --p-btn-bg-color: hsl(var(--clr-primary-100));
    --p-btn-text-color: hsl(var(--clr-neutral-0));

    background-color: var(--p-btn-bg-color);
    color: var(--p-btn-text-color);
}
